header{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#OriCamera_container,
#OriOakFurniture_container,
#OriTeddyBear_container{
    margin-bottom: 5rem;
}

#OriCamera_title,
#OriOakFurniture_title,
#OriTeddyBear_title{
    margin-left: 2.5rem;
}

.container_items{
    margin-top: 2rem;
}

.item img{
    width: 250px;
}

.item-details button{
    display: inline-block;
}